

  .tableapi {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    position: fixed;
    top: 250px;
    

  }
  
  .tableapi td, .tableapi th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tableapi tr:nth-child(even){background-color: #f2f2f2;}
  
  .tableapi tr:hover {background-color: rgb(236, 138, 53);}
  
  .tableapi th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0c2331;
    color: white;
  }


th, td {
  width: 1500px;
  border: 1px solid black;
}

thead>tr {
  position: relative;
  display: block;
}

tbody {
  display: block;
  height: 600px;
  overflow: auto;
}



tr.hide-table-padding td {
  padding: 0;
}

.expand-button {
	position: relative;
}

.minus .expand-button:after
{
  position: absolute;
  left:.75rem;
  top: 50%;
  transform: translate(0, -50%);
  content: '-';
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+';
}